* {
  box-sizing: border-box;
  font-family: Georgia;
}

#navbar {
  font-size: 25px;
  padding: 10px;
  background-color: orange;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

#nav-links {
  font-size: 25px;
}

ul {
  list-style-type: none;
  text-align: center;
}

img {
  width : calc(25% - 12px);
	margin: 5px;
	border-radius : 5px;
}
