* {
  box-sizing: border-box;
  font-family: Georgia;
}

#navbar {
  font-size: 25px;
  padding: 10px;
  background-color: orange;
  color: white;
}

#navbar a {
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover div {
  background-color: orange;
  color: white;
}

ul div {
  padding: 10px;
  border-radius: 5px;
}

#nav-links {
  font-size: 25px;
}

ul {
  list-style-type: none;
  text-align: center;
}

img {
  width : calc(25% - 12px);
	margin: 5px;
	border-radius : 5px;
}

#footer-form {
  width: 100%;
  color: white;
  padding: 20px 40px;
  background-color: orange;
  float: right;
  text-align: right;
}

#single-student {
  text-align: center;
}

.alert-warning {
  color: red;
  font-family: sans-serif;
  font-size: 12px;
}

#add-btn {
  font-size: 15px;
  border-radius: 5px;
}

#delete-btn {
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
  margin: 15px;
  padding: 25px;
  float: right;
}

#page-header {
  margin: 15px;
  text-align: center;
}

#homepage-img {
  width: 100%;
}